/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// general
*,
*::after,
*::before {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
$blueColor: #3e8ed0;
$greenColor: rgb(87, 210, 178);
$blackColor: black;
$redColor: rgb(244, 96, 70);
$lightGrayColor: #eff5fb;
$whiteColor: white;
.lightGray {
  color: $lightGrayColor;
}
.red {
  color: $redColor;
}
.green {
  color: $greenColor;
}
.blue {
  color: $blueColor;
}
.black {
  color: $blackColor;
}
.white {
  color: $whiteColor;
}
.fs-40 {
  font-size: 40px;
}
.fs-28 {
  font-size: 28px;
}
.fs-32 {
  font-size: 32px;
}
.fs-24 {
  font-size: 24px;
}
.fs-20 {
  font-size: 20px;
}
.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-12 {
  font-size: 12px;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.margin-1 {
  margin: 1rem;
}
.margin-1-0 {
  margin: 1rem 0;
}
.margin-0-1 {
  margin: 0 1rem;
}
.margin-2 {
  margin: 2rem;
}
.margin-2-0 {
  margin: 2rem 0;
}
.margin-0-2 {
  margin: 0 2rem;
}
.margin-3 {
  margin: 3rem;
}
.margin-3-0 {
  margin: 3rem 0;
}
.margin-0-3 {
  margin: 0 3rem;
}
.margin-3-6 {
  margin: 3rem 6rem;
}
.padding-1 {
  padding: 1rem;
}
.padding-1-0 {
  padding: 1rem 0;
}
.padding-0-1 {
  padding: 0 1rem;
}
.padding-2 {
  padding: 2rem;
}
.padding-2-0 {
  padding: 2rem 0;
}
.padding-0-2 {
  padding: 0 2rem;
}
.padding-3 {
  padding: 3rem;
}
.padding-3-0 {
  padding: 3rem 0;
}
.padding-0-3 {
  padding: 0 3rem;
}
.width-200 {
  width: 220px;
}
.width-100p {
  width: 100%;
}
.width-80 {
  width: 80%;
}
.width-30 {
  width: 27%;
}
.width-70 {
  width: 70%;
}
.margin-5px {
  margin: 5px 0;
}
a {
  text-transform: capitalize;
  text-decoration: none;
}
.btn {
  display: inline-block;
  padding: 8px 12px;
  background-color: $greenColor;
  color: $whiteColor;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border: none;
}
.text-cap {
  text-transform: capitalize;
}
.text-upp {
  text-transform: uppercase;
}
.inline-block {
  display: inline-block;
}
button {
  cursor: pointer;
}
.none {
  display: none;
}
.padding-5px {
  padding: 5px;
}

.form-control {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border: 1px solid lightgray;
  padding: 12px 0 12px 36px;
  width: 300px;
}
.form-control::placeholder {
  color: lightgray;
}
.form-control:focus {
  outline-color: $blueColor;
  box-shadow: 0 0 1px 1px black;
  color: $blueColor;
}
.btn:hover {
  background: rgb(69, 170, 143);
}

.activity {
  width: 90%;
  position: relative;
  margin: 1rem auto;
  border-radius: 6px;
  box-shadow: 0 0 5px 2px $lightGrayColor;
}
.title {
  height: 220px;
  border-radius: 6px;
  margin: 8px;
  flex-direction: column;
  background-color: $lightGrayColor;
}
.days {
  padding: 1.5rem 3rem;
}
.button {
  width: 65px;
  height: 35px;
  margin: 5px;
  border: none;
  border-radius: 4px;
}
.active {
  background-color: $greenColor;
}
.cross {
  position: absolute;
  top: 7px;
  right: 7px;
  border-radius: 50%;
  background-color: $redColor;
  color: white;
  font-weight: 700;
  border: none;
  font-size: 18px;
}
.month-name {
  background-color: $redColor;
  border-radius: 4px;
}
